#a{
    color: aqua;
    background-color: black;
}
#b{
    color: brown;
    background-color:pink;
}
.c{
    color: blue;
}
h3{
    color: chartreuse;
}
#d{
    color: blueviolet;
}
.e{
    color:darkcyan;
}